version: '3'
services:
  redis-stack:
    image: redis:latest
    container_name: redis-stack
    ports:
      - "6379:6379"
      - "8001:8001"

  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
